<ng-container *ngIf="hasValue">
    <div
        class="flex"
        [style]="tableColumn.customStyles"
        [innerHTML]="value"
        [ngClass]="{
            'justify-content-start': alignHorizontal === TC_AlignHorizontal.Text,
            'justify-content-center': alignHorizontal === TC_AlignHorizontal.Alphanumeric,
            'justify-content-end': alignHorizontal === TC_AlignHorizontal.Number,
        }"></div>
</ng-container>

<ng-container *ngIf="hasTemplate">
    <ng-container
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{ item: data, index: index }"></ng-container>
</ng-container>
