// Integration Test Run Component Styles

.stop-generator-dialog-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}

.stop-generator-dialog-icon {
    font-size: 1.75rem;
    line-height: 1;
}