<app-page-title [title]="title" [headerIcon]="haderIcon"></app-page-title>
<ng-container *ngIf="meters$ | async as meters">
  <app-abm
    [dataset]="meters"
    [columns]="cols"
    [detailFormValid]="form.valid"
    [abmDetailTemplate]="abmDetailTemplate"
    (deleteEvent)="deleteMeters($event)"
    (openDetailEvent)="setFormValues($event)"
    (saveDetailEvent)="saveMeter()"
  >
    <ng-template #abmDetailTemplate>
      <form novalidate [formGroup]="form" class="w-30rem">
        <input type="hidden" formControlName="id" />

        <div class="formgrid grid">
          <div class="col col-6">
            <div class="field">
              <label for="brand_id"
                >Marca<span class="ml-1 text-red-300">*</span>
              </label>
              <p-dropdown
                id="brand_id"
                [options]="dropdownBrandOptions"
                formControlName="brand_id"
                optionValue="id"
                optionLabel="name"
                appendTo="body"
                [required]="true"
                [autoDisplayFirst]="false"
              ></p-dropdown>
              <app-input-error formControlName="brand_id"></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="model"
                >Modelo<span class="ml-1 text-red-300">*</span></label
              >
              <input
                type="text"
                pInputText
                id="model"
                formControlName="model"
                required
              />
              <app-input-error formControlName="model"></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="connection_id"
                >Conexión<span class="ml-1 text-red-300">*</span>
              </label>
              <p-dropdown
                id="connection_id"
                [options]="dropdownConnectionOptions"
                formControlName="connection_id"
                optionValue="id"
                optionLabel="name"
                appendTo="body"
                [required]="true"
                [autoDisplayFirst]="false"
              ></p-dropdown>
              <app-input-error
                formControlName="connection_id"
              ></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="ratedVoltage" class="mb-2"
                >Tensión nominal (Un) [V]<span class="ml-1 text-red-300"
                  >*</span
                ></label
              >
              <p-inputNumber
                id="ratedVoltage"
                formControlName="ratedVoltage"
                autofocus
                [required]="true"
                [useGrouping]="false"
                [min]="0"
              ></p-inputNumber>
              <app-input-error formControlName="ratedVoltage"></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="maximumCurrent" class="mb-2"
                >Corriente máxima (Imax) [A]<span class="ml-1 text-red-300"
                  >*</span
                ></label
              >
              <p-inputNumber
                id="maximumCurrent"
                formControlName="maximumCurrent"
                autofocus
                [required]="true"
                [useGrouping]="false"
                [min]="0"
              ></p-inputNumber>
              <app-input-error
                formControlName="maximumCurrent"
              ></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="ratedCurrent" class="mb-2"
                >Corriente nominal (In) [A]<span class="ml-1 text-red-300"
                  >*</span
                ></label
              >
              <p-inputNumber
                id="ratedCurrent"
                formControlName="ratedCurrent"
                autofocus
                [required]="true"
                [useGrouping]="false"
                [min]="0"
              ></p-inputNumber>
              <app-input-error formControlName="ratedCurrent"></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="activeConstantValue" class="mb-2"
                >Constante de energía activa<span class="ml-1 text-red-300"
                  >*</span
                ></label
              >
              <p-inputNumber
                id="activeConstantValue"
                formControlName="activeConstantValue"
                autofocus
                [required]="true"
                [useGrouping]="false"
                [min]="0"
              ></p-inputNumber>
              <app-input-error
                formControlName="activeConstantValue"
              ></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="activeConstantUnit_id"
                >Unidad de constante activa<span class="ml-1 text-red-300"
                  >*</span
                >
              </label>
              <p-dropdown
                id="activeConstantUnit_id"
                [options]="dropdownActiveConstantUnitOptions"
                formControlName="activeConstantUnit_id"
                optionValue="id"
                optionLabel="name"
                appendTo="body"
                [required]="true"
                [autoDisplayFirst]="false"
              ></p-dropdown>
              <app-input-error
                formControlName="activeConstantUnit_id"
              ></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="reactiveConstantValue" class="mb-2"
                >Constante de energía reactiva<span class="ml-1 text-red-300"
                  >*</span
                ></label
              >
              <p-inputNumber
                id="reactiveConstantValue"
                formControlName="reactiveConstantValue"
                autofocus
                [required]="true"
                [useGrouping]="false"
                [min]="0"
              ></p-inputNumber>
              <app-input-error
                formControlName="reactiveConstantValue"
              ></app-input-error>
            </div>
          </div>

          <div class="col col-6">
            <div class="field">
              <label for="reactiveConstantUnit_id"
                >Unidad de constante reactiva<span class="ml-1 text-red-300"
                  >*</span
                >
              </label>
              <p-dropdown
                id="reactiveConstantUnit_id"
                [options]="dropdownReactiveConstantUnitOptions"
                formControlName="reactiveConstantUnit_id"
                optionValue="id"
                optionLabel="name"
                appendTo="body"
                [required]="true"
                [autoDisplayFirst]="false"
              ></p-dropdown>
              <app-input-error
                formControlName="reactiveConstantUnit_id"
              ></app-input-error>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </app-abm>
</ng-container>
