<!-- Parámetros del paso -->
<app-vacuum-test-params
  [currentStep]="currentStep"
  [toggleable]="true"
></app-vacuum-test-params>

<!-- Generador manual -->
<div class="mt-4">
  <app-manual-generator
    (adjustmentDone)="onManualGeneratorAdjusted()"
  ></app-manual-generator>
</div>

<!-- Temporizador -->
<div class="mt-4">
  <app-count-timer
    #countTimer
    [durationSeconds]="currentStep.form_control_raw.durationSeconds"
    (finishCount)="onTimerCountdownFinish()"
  ></app-count-timer>
</div>

<!-- Calculador -->
<div class="mt-4">
  <app-calculator #calculator>
    <app-stands-result
      [preparationStep]="preparationStep"
      [results]="currentStep.standResults"
      [resultsColumn]="resultsColumn"
      [stepMeterConstant]="currentStep.form_control_raw.meterConstant"
    ></app-stands-result>
  </app-calculator>
</div>

<!-- Patrón -->
<div class="mt-4">
  <app-pattern #pattern></app-pattern>
</div>

<!-- Actions -->
<div class="flex justify-content-end mt-4 mb-8 gap-3">
  <p-button
    label="Reintentar"
    [outlined]="true"
    [disabled]="!canContinue"
    (click)="restart()"
  ></p-button>

  <p-button
    label="Continuar"
    [outlined]="false"
    [disabled]="!canContinue"
    (click)="stepExecutionDone(this.currentStep)"
  ></p-button>
</div>
