<ng-container [ngSwitch]="currentStep.step_id">
    <app-boot-test-run
        *ngSwitchCase="Steps.BootTest"
        [currentStep]="currentStep | stepAs"
        [preparationStep]="preparationStep | stepAs"></app-boot-test-run>

    <app-vacuum-test-run
        *ngSwitchCase="Steps.VacuumTest"
        [currentStep]="currentStep | stepAs"
        [preparationStep]="preparationStep | stepAs"></app-vacuum-test-run>

    <app-contrast-test-run
        *ngSwitchCase="Steps.ContrastTest"
        [currentStep]="currentStep | stepAs"
        [preparationStep]="preparationStep | stepAs"></app-contrast-test-run>

    <app-integration-test-run
        *ngSwitchCase="Steps.IntegrationTest"
        [currentStep]="currentStep | stepAs"
        [preparationStep]="preparationStep | stepAs"></app-integration-test-run>
</ng-container>
