<ng-container *ngIf="invalid && dirty && errors">
  <ng-container
    *ngIf="hasError('required')"
    [ngTemplateOutlet]="errorTemplate"
    [ngTemplateOutletContext]="{ $implicit: 'Requerido' }"
  ></ng-container>
  <ng-container
    *ngIf="hasError('max')"
    [ngTemplateOutlet]="errorTemplate"
    [ngTemplateOutletContext]="{ $implicit: 'Máximo ' + errors.max.max }"
  ></ng-container>
  <ng-container
    *ngIf="hasError('min')"
    [ngTemplateOutlet]="errorTemplate"
    [ngTemplateOutletContext]="{ $implicit: 'Mínimo ' + errors.min.min }"
  ></ng-container>
</ng-container>

<ng-template #errorTemplate let-errorMessage>
  <small class="text-red-500">{{ errorMessage }}</small>
</ng-template>
