<ng-container [ngSwitch]="essayTemplateStep.step_id">
  <ng-container *ngSwitchCase="Steps.Preparation">
    <app-preparation-build-form
      [essayTemplateStep]="essayTemplateStep"
      (formValidChange)="this.formValidChange.emit($event)"
      (formValueChange)="this.formValueChange.emit($event)"
    ></app-preparation-build-form>
  </ng-container>

  <ng-container *ngSwitchCase="Steps.BootTest">
    <app-boot-test-build-form
      [essayTemplateStep]="essayTemplateStep"
      (formValidChange)="this.formValidChange.emit($event)"
      (formValueChange)="this.formValueChange.emit($event)"
    ></app-boot-test-build-form>
  </ng-container>

  <ng-container *ngSwitchCase="Steps.VacuumTest">
    <app-vacuum-test-build-form
      [essayTemplateStep]="essayTemplateStep"
      (formValidChange)="this.formValidChange.emit($event)"
      (formValueChange)="this.formValueChange.emit($event)"
    ></app-vacuum-test-build-form>
  </ng-container>

  <ng-container *ngSwitchCase="Steps.ContrastTest">
    <app-contrast-test-build-form
      [essayTemplateStep]="essayTemplateStep"
      (formValidChange)="this.formValidChange.emit($event)"
      (formValueChange)="this.formValueChange.emit($event)"
    ></app-contrast-test-build-form>
  </ng-container>
</ng-container>
