<p-panel>
    <ng-template pTemplate="header">
        <div class="-my-2 flex align-items-center justify-content-between w-full">
            <span class="p-panel-title flex-order-0">Generador</span>
            <div class="flex align-items-center gap-3">
                <ng-container *ngIf="showDeviceStatus">
                    <ng-container *ngIf="deviceStatus$ | async as deviceStatus">
                        <app-device-status [deviceStatus]="deviceStatus"></app-device-status>
                    </ng-container>
                </ng-container>
                <i
                    pTooltip="Ajustar valores en el generador antes de comenzar"
                    tooltipPosition="left"
                    class="pi pi-sliders-v text-color-secondary"
                    style="font-size: 1.5rem"></i>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <app-phase-table
            [showTexts]="true"
            [phaseL1]="currentStep.form_control_raw.phaseL1"
            [phaseL2]="currentStep.form_control_raw.phaseL2"
            [phaseL3]="currentStep.form_control_raw.phaseL3"></app-phase-table>
    </ng-template>
</p-panel>
