<p-panel>
    <ng-template pTemplate="header">
        <div class="-my-2 flex align-items-center justify-content-between w-full">
            <span class="p-panel-title flex-order-0">Generador</span>
            <div class="flex align-items-center gap-3">
                <ng-container *ngIf="showDeviceStatus">
                    <ng-container *ngIf="deviceStatus$ | async as deviceStatus">
                        <app-device-status [deviceStatus]="deviceStatus"></app-device-status>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <!-- Texto para generador SemiautomaticPYC5050 -->
        <div
            *ngIf="generatorType === GeneratorEnum.SemiautomaticPYC5050"
            class="mb-3">
            <p class="m-0 text-color-secondary">
                Ajuste las fotocélulas para ensayo de energía
                <strong>{{ currentStep.form_control_raw.meterConstant | meterConstant }}</strong>
            </p>
        </div>

        <app-phase-table
            [showTexts]="true"
            [phaseL1]="currentStep.form_control_raw.phaseL1"
            [phaseL2]="currentStep.form_control_raw.phaseL2"
            [phaseL3]="currentStep.form_control_raw.phaseL3"
            [meterConstantEnum]="currentStep.form_control_raw.meterConstant"></app-phase-table>
    </ng-template>
</p-panel>
