<p-table
    styleClass="p-datatable-gridlines mx-3 p-datatable-sm"
    [value]="initialValuesData"
    [columns]="initialValuesColumns">
    <ng-template
        pTemplate="header"
        let-columns>
        <tr>
            <th
                *ngFor="let col of columns"
                class="text-center bg-gray-100 text-gray-600 font-medium text-xs uppercase tracking-wider">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex">
        <tr>
            <td
                *ngFor="let col of columns"
                class="text-center text-gray-700 font-medium text-xs">
                <ng-container [ngSwitch]="col.field">
                    <!-- Columna Puesto -->
                    <span
                        *ngSwitchCase="'standNumber'"
                        class="font-mono font-semibold">
                        {{ rowData.standNumber }}
                    </span>
                    <!-- Columna Medidor -->
                    <span
                        *ngSwitchCase="'meter'"
                        class="text-left">
                        {{ rowData.meter }}
                    </span>
                    <!-- Columna Nº de serie -->
                    <span
                        *ngSwitchCase="'serialNumber'"
                        class="font-mono">
                        {{ rowData.serialNumber }}
                    </span>
                    <!-- Columna Año -->
                    <span
                        *ngSwitchCase="'year'"
                        class="font-mono">
                        {{ rowData.year }}
                    </span>
                    <!-- Columna Integrador inicial -->
                    <div
                        *ngSwitchCase="'initialIntegrator'"
                        class="flex justify-content-center">
                        <input
                            type="number"
                            pInputText
                            [(ngModel)]="rowData.initialIntegrator"
                            [step]="0.1"
                            [min]="0"
                            [max]="99999999.9"
                            class="w-20 text-center"
                            placeholder="0.0"
                            (ngModelChange)="onInitialIntegratorChange(rowIndex, $event)" />
                    </div>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
