<app-page-title [title]="title"></app-page-title>

<div class="p-4 flex align-items-center justify-content-center">
    <div>
        <p-messages
            [value]="backupWarningMessages"
            [enableService]="false"
            [closable]="false">
        </p-messages>

        <ng-container *ngIf="lastCreatedBackup">
            <div class="mt-3">
                <p-card header="Información de tu último backup">
                    <p>
                        <span class="mr-1">Fecha de creación:</span>
                        <span class="font-semibold">{{ lastCreatedBackup.saved_time | date: 'dd/MM/YYYY' }}</span>
                    </p>
                    <p>
                        <span class="mr-1">Nombre del archivo:</span>
                        <span class="font-semibold">{{ lastCreatedBackup.file_name }}</span>
                    </p>
                    <p>
                        <span class="mr-1">Carpeta de destino:</span>
                        <span class="font-semibold">{{ lastCreatedBackup.selected_folder }}</span>
                    </p>
                </p-card>
            </div>
        </ng-container>

        <div class="mt-3">
            <p-card header="Guía de uso">
                <ol>
                    <li>Crear el backup desde esta sección.</li>
                    <li class="mt-4">
                        Almacene el archivo de backup creado en un lugar seguro, preferentemente en otro dispositivo.
                    </li>
                    <li class="mt-3">
                        <div class="flex flex-row gap-2 align-items-center justify-content-start">
                            <div>Para restaurar un backup previamente creado, ir a</div>
                            <p-button
                                [routerLink]="'/' + PageUrlName.backupRestore"
                                label="Restaurar base de datos"
                                [outlined]="true"
                                severity="secondary"
                                size="small">
                            </p-button>
                        </div>
                    </li>
                </ol>
            </p-card>
        </div>

        <div class="flex justify-content-end mt-3">
            <p-button
                label="Crear backup"
                (click)="createBackup()">
            </p-button>
        </div>
    </div>
</div>
