<ng-container *ngIf="runEssayForm.valueChanges | async as runEssay">
  <app-page-title [title]="title" [showBack]="true" (backEvent)="exit()">
    <ng-container toolbar-left>
      <div class="text-xl text-700 ml-3">
        {{ runEssayForm.get("essayName")?.value }}
      </div>
    </ng-container>
  </app-page-title>

  <div class="grid grid-nogutter">
    <div class="col col-2">
      <p-card styleClass="border-noround shadow-1">
        <app-major-step-timeline
          [majorStepStatusMap]="runEssayService.majorStepStatusMap"
          [essaySteps]="runEssayForm.get('essaySteps')?.getRawValue()"
        ></app-major-step-timeline>
      </p-card>
    </div>

    <div class="col col-10">
      <app-major-step-switch
        [majorStepStatusMap]="runEssayService.majorStepStatusMap"
      ></app-major-step-switch>
    </div>
  </div>
</ng-container>
