<ng-container *ngIf="preparationStep$ | async as preparationStep">
    <div class="px-3 pt-3">
        <app-build-step-switch
            [essayTemplateStep]="preparationStep"
            [isVerification]="true"
            (formValidChange)="formValid = $event"
            (formValueChange)="onFormValueChange($event)"></app-build-step-switch>
    </div>
</ng-container>

<div class="flex justify-content-end pr-6 mt-4 mb-8 gap-3">
    <p-button
        label="Continuar"
        [outlined]="false"
        [disabled]="(isPreparationDone && isRunEssayFormValid) || !formValid"
        (click)="continue()"></p-button>
</div>
