<p-table
    styleClass="p-datatable-gridlines mx-3 p-datatable-sm"
    [value]="initialValuesData"
    [columns]="initialValuesColumns">
    <ng-template
        pTemplate="header"
        let-columns>
        <tr>
            <th
                *ngFor="let col of columns"
                class="text-center bg-gray-100 text-gray-600 font-medium text-xs uppercase tracking-wider">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex">
        <tr>
            <td
                *ngFor="let col of columns"
                class="text-center text-gray-700 font-medium text-xs">
                <ng-container [ngSwitch]="col.field">
                    <!-- Columna Integrador inicial - manejo especial para input -->
                    <div
                        *ngSwitchCase="'initialIntegrator'"
                        class="flex justify-content-center">
                        <p-inputNumber
                            *ngIf="rowData.isActive"
                            [(ngModel)]="rowData.initialIntegrator"
                            [min]="0"
                            [max]="999999.999"
                            [step]="1"
                            [useGrouping]="false"
                            [minFractionDigits]="0"
                            [maxFractionDigits]="3"
                            [disabled]="disableInitialIntegrator"
                            placeholder="0.0"
                            class="w-20 text-center h-6 text-xs"
                            (ngModelChange)="onInitialIntegratorChange(rowIndex, $event)">
                        </p-inputNumber>
                    </div>
                    <!-- Columna Integrador final - manejo especial para input -->
                    <div
                        *ngSwitchCase="'finalIntegrator'"
                        class="flex justify-content-center">
                        <p-inputNumber
                            *ngIf="rowData.isActive"
                            [(ngModel)]="rowData.finalIntegrator"
                            [min]="0"
                            [max]="999999.999"
                            [step]="1"
                            [useGrouping]="false"
                            [minFractionDigits]="0"
                            [maxFractionDigits]="3"
                            [disabled]="disableFinalIntegrator"
                            placeholder="0.0"
                            class="w-20 text-center h-6 text-xs"
                            (ngModelChange)="onFinalIntegratorChange(rowIndex, $event)">
                        </p-inputNumber>
                    </div>
                    <!-- Otras columnas - usar app-table-column -->
                    <app-table-column
                        *ngSwitchDefault
                        [tableColumn]="col"
                        [data]="rowData"
                        [index]="rowIndex"></app-table-column>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
