<app-page-title [title]="title"></app-page-title>
<ng-container *ngIf="historyEssayRows$ | async as historyEssayRows">
  <app-abm
    [dataset]="historyEssayRows"
    [totalRecords]="totalRecords"
    [columns]="cols"
    (lazyLoad)="lazyLoad($event)"
    (deleteEvent)="deleteHistoryEssay($event)"
  >
    <!-- columnas -->
    <ng-template
      abmColumnTemplateName="model"
      let-item="item"
      let-index="index"
    >
      <div class="flex flex-row align-items-center gap-1">
        <p-button
          [outlined]="false"
          [rounded]="true"
          [text]="true"
          icon="pi pi-eye"
          (click)="seeMeter(item.foreign.meter)"
        ></p-button>
        <span
          class="overflow-hidden text-overflow-ellipsis white-space-nowrap w-10rem"
        >
          {{ item.foreign.meter.model }}
        </span>
      </div>
    </ng-template>

    <ng-template
      abmColumnTemplateName="saved_time"
      let-item="item"
      let-index="index"
    >
      {{ item.saved_time | date : "dd/MM/yyyy" }}
    </ng-template>

    <ng-template
      abmColumnTemplateName="result_status_enum"
      let-item="item"
      let-index="index"
    >
      {{ item.result_status_enum | translateEnum : "ResultStatus" }}
    </ng-template>
  </app-abm>
</ng-container>

