<app-page-title [title]="title"></app-page-title>
<ng-container *ngIf="historyEssayRows$ | async as historyEssayRows">
  <app-abm
    [dataset]="historyEssayRows"
    [totalRecords]="totalRecords"
    [columns]="cols"
    (lazyLoad)="lazyLoad($event)"
    actionColumnStyleClass="w-10rem"
  >
    <ng-template
      abmColumnTemplateName="result_status_enum"
      let-item="item"
      let-index="index"
    >
      {{ item.result_status_enum | translateEnum : "ResultStatus" }}
    </ng-template>
  </app-abm>
</ng-container>
