<fom novalidate [formGroup]="form">
  <ng-container formGroupName="form_control_raw">
    <div class="flex flex-column gap-4">
      <div class="formgrid grid">
        <div class="field col col-6">
          <label for="name"
            >Nombre<span
              *ngIf="!!form.get('form_control_raw.name')?.validator"
              class="ml-1 text-red-300"
              >*</span
            >
          </label>
          <input type="text" pInputText id="name" formControlName="name" />
        </div>

        <div class="field col col-6">
          <label for="meterConstant" class="mb-2"
            >Constante del medidor<span class="ml-1 text-red-300">*</span>
          </label>
          <p-selectButton
            [options]="MeterConstants"
            id="meterConstant"
            formControlName="meterConstant"
            optionLabel="name"
            optionValue="id"
          ></p-selectButton>
          <app-input-error formControlName="meterConstant"></app-input-error>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col col-4">
          <label for="minDurationSeconds" class="mb-2"
            >Tiempo de ejecución mínimo [s]<span class="ml-1 text-red-300"
              >*</span
            >
          </label>
          <p-inputNumber
            styleClass="flex flex-1"
            id="minDurationSeconds"
            formControlName="minDurationSeconds"
            autofocus
            [useGrouping]="false"
            [min]="0"
          ></p-inputNumber>
          <app-input-error
            formControlName="minDurationSeconds"
          ></app-input-error>
        </div>

        <div class="field col col-4">
          <label for="maxDurationSeconds" class="mb-2"
            >Tiempo de ejecución máximo [s]<span class="ml-1 text-red-300"
              >*</span
            >
          </label>
          <p-inputNumber
            styleClass="flex flex-1"
            id="maxDurationSeconds"
            formControlName="maxDurationSeconds"
            autofocus
            [useGrouping]="false"
            [min]="0"
          ></p-inputNumber>
          <app-input-error
            formControlName="maxDurationSeconds"
          ></app-input-error>
        </div>

        <div class="field col col-4">
          <label for="allowedPulses" class="mb-2"
            >Cantidad de impulsos permitida<span class="ml-1 text-red-300"
              >*</span
            >
          </label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i
                #helpIcon
                class="pi pi-info-circle"
                (mouseenter)="op2.show($event, helpIcon)"
                (mouseleave)="op2.hide()"
              ></i>
            </span>
            <p-overlayPanel #op2>
              <div class="text-sm text-700 max-w-20rem">
                Para superar la prueba la cantidad de impulsos debe ser igual o
                mayor a la permitida y debe suceder luego del tiempo mínimo y
                antes del tiempo máximo.
              </div>
            </p-overlayPanel>
            <p-inputNumber
              styleClass="flex flex-1"
              id="allowedPulses"
              formControlName="allowedPulses"
              autofocus
              [useGrouping]="false"
              [min]="0"
            ></p-inputNumber>
          </div>
          <app-input-error formControlName="allowedPulses"></app-input-error>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col col-4">
          <app-phase-form-group
            [formGroup]="form.get('form_control_raw.phaseL1') | asFormGroup"
            faseLabel="L1"
            voltageFormControlName="voltage"
            voltageLabel="U1"
            currentFormControlName="current"
            currentLabel="I1"
            angleFormControlName="anglePhi"
            angleLabel="&#632;1"
          ></app-phase-form-group>
        </div>

        <div class="field col col-4">
          <app-phase-form-group
            [formGroup]="form.get('form_control_raw.phaseL2') | asFormGroup"
            faseLabel="L2"
            voltageFormControlName="voltage"
            voltageLabel="U2"
            currentFormControlName="current"
            currentLabel="I2"
            angleFormControlName="anglePhi"
            angleLabel="&#632;2"
          ></app-phase-form-group>
        </div>

        <div class="field col col-4">
          <app-phase-form-group
            [formGroup]="form.get('form_control_raw.phaseL3') | asFormGroup"
            faseLabel="L3"
            voltageFormControlName="voltage"
            voltageLabel="U3"
            currentFormControlName="current"
            currentLabel="I3"
            angleFormControlName="anglePhi"
            angleLabel="&#632;3"
          ></app-phase-form-group>
        </div>
      </div>
    </div>
  </ng-container>
</fom>
