<p-dialog
  [(visible)]="dialogOpened"
  [style]="{ minWidth: '800px', width: '80vw', maxWidth: '1000px', }"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="dialogHide.emit()"
>
  <ng-template pTemplate="header">
    <ng-container *ngIf="!!initialValue">
      <div class="flex flex-row gap-2 align-items-center">
        <span class="p-dialog-title">Ajustar parámetros</span>
        <span>-</span>
        <span class="text-xl text-700">{{
          initialValue.foreign.step?.name
        }}</span>
      </div>
    </ng-container>
  </ng-template>

  <ng-template pTemplate="content">
    <ng-container *ngIf="!!initialValue && dialogOpened">
      <app-step-switch
        [essayTemplateStep]="initialValue"
        (formValidChange)="this.formValid = $event"
        (formValueChange)="this.formValue = $event"
      ></app-step-switch>
    </ng-container>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="mt-2">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text p-button-outlined"
        (click)="closeDialog()"
      ></button>

      <button
        pButton
        pRipple
        label="Aceptar"
        icon="pi pi-check"
        class="p-button p-button-outlined"
        (click)="acceptChanges()"
        [disabled]="!formValid"
      ></button>
    </div>
  </ng-template>
</p-dialog>
