<p-dialog
    header="Información del sistema"
    [(visible)]="display"
    [modal]="true"
    [style]="{ width: '50vw', maxWidth: '500px' }"
    (onHide)="onHide()">
    <p class="row">
        <span class="property">Versión del hardware:</span>
        <span class="value">{{ systemInfo.hardwareVersion }}</span>
    </p>
    <p class="row">
        <span class="property">Versión del software:</span>
        <span class="value">{{ systemInfo.softwareVersion }}</span>
    </p>
    <p-footer>
        <!-- Acá se pueden poner botones -->
    </p-footer>
</p-dialog>
