<p-panel [toggleable]="toggleable">
    <ng-template pTemplate="header">
        <div class="flex gap-2 align-items-center">
            <span class="p-panel-title">Patrón</span>
        </div>
    </ng-template>

    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <div class="col-4 flex flex-column gap-1 p-2">
                    <span class="text-color-secondary font-medium"> Constante del medidor </span>
                    <span class="text-color font-semibold">
                        {{ currentStep.form_control_raw.meterConstant | meterConstant }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</p-panel>
