<!-- Parámetros del paso -->
<app-contrast-test-params
  [currentStep]="currentStep"
  [toggleable]="true"
></app-contrast-test-params>

<!-- Generador manual -->
<div class="mt-4">
  <app-manual-generator
    (adjustmentDone)="onManualGeneratorAdjusted()"
  ></app-manual-generator>
</div>

<!-- Execution mode -->
<div class="mt-4 execution-mode-panel">
  <p-panel header="Ejecución">
    <p-selectButton
      [options]="StepRunModes"
      [(ngModel)]="stepRunMode"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
  </p-panel>
</div>
