<!-- Parámetros del paso -->
<app-vacuum-test-params [currentStep]="currentStep"></app-vacuum-test-params>

<!-- 1. Ajustar generador manual
  Por output avisa cuando fue inicializado
-->
<div class="mt-4">
  <app-manual-generator
    (adjustmentDone)="manualGeneratorAdjusted()"
  ></app-manual-generator>
</div>

<!-- 2. re-inicializa el calculador 
  - Por output avisa cuando esta inicializado para poder empezar el temporizador
  - La prueba reinicia desde este punto.
-->
<div class="mt-4">
  <app-calculator #calculator></app-calculator>
</div>

<!-- 3. inicializa el temporizador -->
<div class="mt-4">
  <app-count-timer
    #countTimer
    [durationSeconds]="currentStep.form_control_raw.durationSeconds"
    (finishCount)="timerStop()"
  ></app-count-timer>
</div>

<!-- TODO 4. inicializa el patrón, consulta valores y refresca
  El patrón es solo visual, se muestra lo que mide en pantalla.
  Puede tener un start/stop que se activa desde el padre.
  En el ondestroy llama a stop.
-->
<!-- TODO 5. inicializa el calculador, consulta resultados y refresca
  El calculador devuelve un output cada vez que recibe un resultado.
  Puede tener un start/stop que se activa desde el padre.
  En el ondestroy llama a stop
-->

<!-- TODO
    hacer un componente para mostrar resultados de medidores durante las pruebas 
    - incluir datos de:
    - el puesto
    - la constante del medidor
    - los resultados
-->
