<!-- Parámetros del paso -->
<app-vacuum-test-params [currentStep]="currentStep"></app-vacuum-test-params>

<!-- 1. Ajustar generador manual
  El generador sabe si esta inicializado en el OnInit
  Por output avisa cuando fue inicializado
-->
<div class="mt-4">
  <app-manual-generator
    (adjustmentDone)="manualGeneratorAdjusted()"
  ></app-manual-generator>
</div>

<!-- TODO 2. re-inicializa el calculador 
  - Por output avisa cuando esta inicializado para poder empezar el temporizador
  - La prueba reinicia desde este punto.
-->
<!-- TODO 3. inicializa el temporizador -->
<!-- TODO 4. inicializa el patrón, consulta valores y refresca
  El patrón es solo visual, se muestra lo que mide en pantalla.
  Puede tener un start/stop que se activa desde el padre.
  En el ondestroy llama a stop.
-->
<!-- TODO 5. inicializa el calculador, consulta resultados y refresca
  El calculador devuelve un output cada vez que recibe un resultado.
  Puede tener un start/stop que se activa desde el padre.
  En el ondestroy llama a stop
-->

<!-- Temporizador -->
<div class="mt-4">
  <p-card>
    <ng-template pTemplate="header">
      <p class="text-base pt-3 px-3 m-0">
        Temporizador
        <span class="text-sm">
          [{{ countTimer.isRunning ? "Contando" : "Detenido" }}]
        </span>
      </p>
    </ng-template>

    <div class="-my-4">
      <app-count-timer
        #countTimer
        [durationSeconds]="currentStep.form_control_raw.durationSeconds"
        (finishCount)="timerStop()"
      ></app-count-timer>
    </div>
  </p-card>
</div>

<!-- TODO
    hacer un componente para mostrar resultados de medidores durante las pruebas 
    - incluir datos de:
    - el puesto
    - la constante del medidor
    - los resultados
-->
