<!-- Parámetros del paso -->
<p-panel [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex gap-2 align-items-center">
      <ng-container *ngIf="showCompleteName">
        <span class="font-semibold text-lg text-color-secondary">
          {{ currentStep.foreign.step?.name }}
        </span>
        <span>-</span>
      </ng-container>
      <span class="font-semibold text-lg">
        {{ currentStep.form_control_raw.name }}
      </span>
    </div>
  </ng-template>

  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="flex flex-column col-12 md:col-4">
          <label class="text-color-secondary">Fase L1 - Tensión U1 [V]</label>
          <span class="text-color">
            {{ currentStep.form_control_raw.phaseL1.voltage }}
          </span>
        </div>
        <div class="flex flex-column col-12 md:col-4">
          <label class="text-color-secondary">Fase L2 - Tensión U2 [V]</label>
          <span class="text-color">
            {{ currentStep.form_control_raw.phaseL2.voltage }}
          </span>
        </div>
        <div class="flex flex-column col-12 md:col-4">
          <label class="text-color-secondary">Fase L3 - Tensión U3 [V]</label>
          <span class="text-color">
            {{ currentStep.form_control_raw.phaseL3.voltage }}
          </span>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="grid">
        <div class="flex flex-column col-12 md:col-4">
          <label class="text-color-secondary">Constante del medidor</label>
          <span class="text-color">
            {{ currentStep.form_control_raw.meterConstant | meterConstant }}
          </span>
        </div>
        <div class="flex flex-column col-12 md:col-4">
          <label class="text-color-secondary">
            Cant. de impulsos máx. permitida
          </label>
          <span class="text-color">
            {{ currentStep.form_control_raw.maxAllowedPulses }}
          </span>
        </div>
        <div class="flex flex-column col-12 md:col-4">
          <label class="text-color-secondary">Tiempo de ejecución [s]</label>
          <span class="text-color">
            {{ currentStep.form_control_raw.durationSeconds }}
          </span>
        </div>
      </div>
    </div>
  </div>
</p-panel>

<!-- TODO 1. ajustar generador -->
<!-- TODO 2. inicializa el calculador -->
<!-- TODO 3. inicializa el temporizador -->
<!-- TODO 4. inicializa el patrón, consulta valores y refresca
  El patrón es solo visual, se muestra lo que mide en pantalla.
  puede tener un start/stop que se activa desde el padre.
  en el ondestroy llama a stop
-->
<!-- TODO 5. inicializa el calculador, consulta resultados y refresca
  El calculador devuelve un output cada vez que recibe un resultado.
  puede tener un start/stop que se activa desde el padre.
  en el ondestroy llama a stop
-->

<!-- Temporizador -->
<div class="mt-4">
  <p-card>
    <ng-template pTemplate="header">
      <p class="text-base pt-3 px-3 m-0">Temporizador</p>
    </ng-template>

    <div class="-my-4">
      <app-count-timer
        #countTimer
        [durationSeconds]="currentStep.form_control_raw.durationSeconds"
        (finishCount)="timerStop()"
      ></app-count-timer>
    </div>
  </p-card>
</div>

<!-- TODO
    hacer un componente para mostrar resultados de medidores durante las pruebas 
    - incluir datos de:
    - el puesto
    - la constante del medidor
    - los resultados
-->
