<div class="flex justify-content-end p-4">
  <p-button
    label="Agregar a la ejecución"
    icon="pi pi-plus"
    styleClass="ml-2 p-button-outlined"
    (click)="openDialog()"
  ></p-button>
</div>

<p-dialog
  [style]="{ minWidth: '450px' }"
  header="Agregar a la ejecución"
  [modal]="true"
  styleClass="p-fluid"
  [(visible)]="dialogOpened"
>
  <ng-container *ngFor="let step of userSelectableStepOptions">
    <div class="flex flex-auto mb-2">
      <p-button
        (click)="stepSelected(step)"
        class="flex-auto"
        styleClass="p-button-outlined"
      >
        {{ step.name }}
      </p-button>
    </div>
  </ng-container>
</p-dialog>
