<div class="flex justify-content-end p-4">
  <p-button
    label="Agregar paso"
    icon="pi pi-plus"
    styleClass="ml-2"
    [outlined]="true"
    (click)="openDialog()"
  ></p-button>
</div>

<p-dialog
  [style]="{ minWidth: '450px' }"
  header="Seleccione un paso"
  [modal]="true"
  styleClass="p-fluid"
  [(visible)]="dialogOpened"
>
  <ng-container *ngFor="let step of userSelectableStepOptions">
    <div class="flex mb-2">
      <p-button
        class="flex flex-auto"
        [outlined]="true"
        (click)="stepSelected(step)"
      >
        <i class="pi pi-plus"></i>
        <span class="ml-2">{{ step.name }}</span>
      </p-button>
    </div>
  </ng-container>
</p-dialog>
