<div class="px-3 pt-3">
    <ng-container *ngIf="currentStep$ | async as currentStep">
        <ng-container *ngIf="currentStep.photocellAdjustmentStatus === PhotocellAdjustmentStatus.Pending">
            <app-photocell-adjusment-request
                [meterConstant]="currentStep.form_control_raw.meterConstant"
                [stepNumber]="currentStep.order"
                (adjustmentDone)="photocellAdjustmentDone(currentStep.id)"
                (stepSkipped)="stepExecutionSkipped(currentStep.id)"></app-photocell-adjusment-request>
        </ng-container>

        <ng-container
            *ngIf="
                preparationStep &&
                (currentStep.photocellAdjustmentStatus === PhotocellAdjustmentStatus.NotApply ||
                    currentStep.photocellAdjustmentStatus === PhotocellAdjustmentStatus.Done)
            ">
            <app-run-step-switch
                [currentStepId]="currentStep.id"
                [currentStep]="currentStep"
                [preparationStep]="preparationStep"></app-run-step-switch>
        </ng-container>
    </ng-container>
</div>
