<!-- TODO ejecutar el current step -->
<!-- TODO permitir la simulación de resultados -->

<div class="px-6 pt-6">
  <ng-container *ngIf="currentStep$ | async as currentStep">
    <ng-container
      *ngIf="
        currentStep.photocellAdjustmentStatus ===
        PhotocellAdjustmentStatus.Pending
      "
    >
      <app-photocell-adjusment-request
        [meterConstant]="currentStep.form_control_raw.meterConstant"
        (adjustmentDone)="photocellAdjustmentDone(currentStep.id)"
      ></app-photocell-adjusment-request>
    </ng-container>

    <ng-container
      *ngIf="
        currentStep.photocellAdjustmentStatus !==
        PhotocellAdjustmentStatus.Pending
      "
    >
      <app-run-step-switch [currentStep]="currentStep"></app-run-step-switch>
    </ng-container>
  </ng-container>
</div>

<!-- TODO eliminar -->
<br />
<br />
<br />
<br />
<ng-container *ngIf="executionSteps$ | async as executionSteps">
  <pre>
    {{ executionSteps | json }}
  </pre>
</ng-container>
