<!-- TODO Si el ajuste de fotocelulas esta pendiente, solicitar el ajuste de fotocelulas -->
<!-- TODO mostrar el status del current step en el timeline -->
<!-- TODO ejecutar el current step -->
<!-- TODO permitir la simulación de resultados -->

<div class="px-6 pt-6">
  <ng-container *ngIf="currentStep$ | async as currentStep">
    <!-- <app-run-step-switch></app-run-step-switch> -->
    <pre>
      current: {{ currentStep.form_control_raw.name }}
      photocell adjustment status: {{ currentStep.photocellAdjustmentStatus }}
    </pre>
  </ng-container>

  <ng-container *ngIf="executionSteps$ | async as executionSteps">
    <pre>
      {{ executionSteps | json }}
    </pre>
  </ng-container>
</div>
