<p-dialog
  [(visible)]="dialogOpened"
  [style]="{ minWidth: '450px' }"
  header="Detalle"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="dialogHide.emit()"
>
  <ng-container *ngIf="!!essayTemplateStep">
    <app-essay-template-step-form [essayTemplateStep]="essayTemplateStep"></app-essay-template-step-form>
  </ng-container>

  <!-- <ng-template pTemplate="footer">
  <button
    pButton
    pRipple
    label="Cancelar"
    icon="pi pi-times"
    class="p-button-text p-button-outlined"
    (click)="closeDialog()"
  ></button>
  <button
    pButton
    pRipple
    label="Guardar"
    icon="pi pi-check"
    class="p-button p-button-success"
    (click)="saveElement()"
    [disabled]="!detailFormValid"
  ></button>
</ng-template> -->
</p-dialog>
