<p-dialog
  [(visible)]="dialogOpened"
  [style]="{ minWidth: '800px', width: '80vw', maxWidth: '1000px', }"
  header="Detalle"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="dialogHide.emit()"
>
  <ng-template pTemplate="content">
    <ng-container *ngIf="!!essayTemplateStep && dialogOpened">
      <ng-container [ngSwitch]="essayTemplateStep.step_id">
        <ng-container *ngSwitchCase="Steps.Preparation">
          <app-preparation-build-form
            [essayTemplateStep]="essayTemplateStep"
            (formValidChange)="formValid = $event"
            (formValueChange)="formValue = $event"
          ></app-preparation-build-form>
        </ng-container>

        <ng-container *ngSwitchCase="Steps.BootTest">
          <app-boot-test-build-form
            [essayTemplateStep]="essayTemplateStep"
            (formValidChange)="formValid = $event"
            (formValueChange)="formValue = $event"
          ></app-boot-test-build-form>
        </ng-container>

        <ng-container *ngSwitchCase="Steps.VacuumTest">
          <!-- TODO -->
          Vacuum test
        </ng-container>

        <ng-container *ngSwitchCase="Steps.ContrastTest">
          <app-contrast-test-build-form
            [essayTemplateStep]="essayTemplateStep"
            (formValidChange)="formValid = $event"
            (formValueChange)="formValue = $event"
          ></app-contrast-test-build-form>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="mt-2">
      <button
        pButton
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text p-button-outlined"
        (click)="closeDialog()"
      ></button>

      <button
        pButton
        pRipple
        label="Aceptar"
        icon="pi pi-check"
        class="p-button p-button-outlined"
        (click)="acceptChanges()"
        [disabled]="!formValid"
      ></button>
    </div>
  </ng-template>
</p-dialog>
