<div *ngIf="majorStepStatusMap" class="flex flex-column gap-3">
  <app-major-step-timeline-item
    index="1"
    [majorStep]="MajorSteps.Verification"
    [status]="majorStepStatusMap[MajorSteps.Verification]"
    [bodyTemplate]="bodyTemplate"
  >
    <ng-template #bodyTemplate>
      <app-step-timeline
        [withIndex]="false"
        [essaySteps]="verificationSteps"
        statusProp="verifiedStatus"
      ></app-step-timeline>
    </ng-template>
  </app-major-step-timeline-item>

  <app-major-step-timeline-item
    index="2"
    [majorStep]="MajorSteps.Preparation"
    [status]="majorStepStatusMap[MajorSteps.Preparation]"
  >
  </app-major-step-timeline-item>

  <app-major-step-timeline-item
    index="3"
    [majorStep]="MajorSteps.Execution"
    [status]="majorStepStatusMap[MajorSteps.Execution]"
    [bodyTemplate]="bodyTemplate"
  >
    <ng-template #bodyTemplate>
      <app-step-timeline
        [withIndex]="true"
        [essaySteps]="executionSteps"
        statusProp="executedStatus"
      ></app-step-timeline>
    </ng-template>
  </app-major-step-timeline-item>

  <app-major-step-timeline-item
    index="4"
    [majorStep]="MajorSteps.Report"
    [status]="majorStepStatusMap[MajorSteps.Report]"
  >
  </app-major-step-timeline-item>
</div>
