<p-table
    styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
    [value]="rows"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-color-secondary text-center"></th>
            <th class="text-color-secondary text-center">Fase L1</th>
            <th class="text-color-secondary text-center">Fase L2</th>
            <th class="text-color-secondary text-center">Fase L3</th>
            <th class="text-color-secondary text-center"></th>
        </tr>
    </ng-template>

    <ng-template
        pTemplate="body"
        let-row>
        <tr>
            <td>{{ row.metric }}</td>
            <td class="text-right">{{ row.l1 | number: getFormat(row) }}</td>
            <td class="text-right">{{ row.l2 | number: getFormat(row) }}</td>
            <td class="text-right">{{ row.l3 | number: getFormat(row) }}</td>
            <td>
                <ng-container *ngIf="row.unit">[{{ row.unit }}]</ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
