<div
  class="badge"
  [ngClass]="{
    pending: isPending,
    current: isCurrent,
    done: isDone
  }"
  [ngStyle]="{
    'font-size': sizeConfig.fontSize,
    'min-width':  sizeConfig.size,
    'height': sizeConfig.size,
    'line-height': sizeConfig.size,
  }"
>
  <ng-container *ngIf="!isDone; else doneTmp">
    <ng-container *ngIf="index !== undefined">
      <span class="badge-index">{{ index }}</span>
    </ng-container>
  </ng-container>
  <ng-template #doneTmp>
    <i
      class="pi pi-check"
      [ngStyle]="{
        'font-size': sizeConfig.fontSize,
        'line-height': sizeConfig.size
      }"
    ></i>
  </ng-template>
</div>
