<p-table
    styleClass="p-datatable-gridlines p-datatable-striped mx-3 p-datatable-sm"
    [value]="standsFormArray.controls"
    [tableStyle]="{ 'min-width': '100%' }"
    responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Activo</th>
            <th>Medidor</th>
            <th>Modelo</th>
            <th>Año de fabricación</th>
            <th>Nª de serie</th>
            <th>Acciones</th>
        </tr>
    </ng-template>

    <ng-template
        pTemplate="body"
        let-standForm
        let-i="rowIndex">
        <ng-container [formGroup]="standForm">
            <tr>
                <!-- Checkbox de activación -->
                <td>
                    <p-checkbox
                        formControlName="isActive"
                        [binary]="true"></p-checkbox>
                </td>

                <!-- Nombre del puesto -->
                <td>{{ standForm.get('name')!.value }}</td>

                <!-- Dropdown del medidor -->
                <td>
                    <p-dropdown
                        *ngIf="meters$ | async as meters"
                        id="meter"
                        [options]="meters"
                        formControlName="meter_id"
                        optionLabel="label"
                        optionValue="id"
                        appendTo="body"
                        [autoDisplayFirst]="false"
                        [showClear]="true"
                        styleClass="w-full"></p-dropdown>
                </td>

                <!-- Año de producción -->
                <td>
                    <p-dropdown
                        id="yearOfProduction"
                        [options]="YearOfProductionConstants"
                        formControlName="yearOfProduction"
                        optionValue="id"
                        optionLabel="label"
                        appendTo="body"
                        [autoDisplayFirst]="false"
                        [showClear]="true"
                        styleClass="w-full"></p-dropdown>
                </td>

                <!-- Número de serie -->
                <td>
                    <input
                        type="text"
                        pInputText
                        formControlName="serialNumber"
                        styleClass="w-full" />
                </td>

                <!-- Botón para copiar -->
                <td>
                    <p-button
                        icon="pi pi-copy"
                        [outlined]="true"
                        (click)="openCopyDialog(i)"
                        [disabled]="!standForm.get('isActive')!.value"
                        pTooltip="Copiar valores a otros puestos"></p-button>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</p-table>

<app-copy-stand-dialog
    [showDialog]="showCopyDialog"
    [sourceIndex]="copyDialogSourceIndex"
    [controls]="standsFormArray.controls"
    (closeDialog)="showCopyDialog = false"></app-copy-stand-dialog>
