<p-panel
    [toggleable]="false"
    styleClass="p-panel-compact">
    <ng-template pTemplate="header">
        <div class="flex gap-1 align-items-center py-1">
            <ng-container *ngIf="showCompleteName">
                <span
                    class="text-sm text-gray-900 font-semibold"
                    [ngStyle]="{ order: 1 }">
                    {{ currentStep.foreign.step?.name }}
                </span>
                <span
                    class="text-gray-400 text-xs"
                    [ngStyle]="{ order: 2 }"
                    >-</span
                >
            </ng-container>
            <span
                class="text-sm text-gray-900 font-medium"
                [ngStyle]="{ order: 3 }">
                {{ currentStep.form_control_raw.name }}
            </span>
        </div>
    </ng-template>

    <p-table
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-compact"
        [value]="[true]"
        [rows]="1">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center bg-gray-100 text-gray-600 font-medium text-xs uppercase tracking-wider">
                    Cant. de impulsos máx.
                </th>
                <th class="text-center bg-gray-100 text-gray-600 font-medium text-xs uppercase tracking-wider">
                    Tiempo de ejecución
                </th>
                <th class="text-center bg-gray-100 text-gray-600 font-medium text-xs uppercase tracking-wider">
                    Constante del medidor
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr>
                <td class="text-center text-gray-700 font-medium text-sm font-mono">
                    {{ currentStep.form_control_raw.maxAllowedPulses }}
                </td>
                <td class="text-center text-gray-700 font-medium text-sm font-mono">
                    {{ currentStep.form_control_raw.durationSeconds }} [s]
                </td>
                <td class="text-center text-gray-700 font-medium text-sm font-mono">
                    {{
                        currentStep.form_control_raw.meterConstant === MeterConstantEnum.Active ? 'Activa' : 'Reactiva'
                    }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
