<p-panel [toggleable]="toggleable">
    <ng-template pTemplate="header">
        <div class="flex gap-2 align-items-center">
            <ng-container *ngIf="showCompleteName">
                <span
                    class="p-panel-title text-color-secondary"
                    [ngStyle]="{ order: 1 }">
                    {{ currentStep.foreign.step?.name }}
                </span>
                <span [ngStyle]="{ order: 2 }">-</span>
            </ng-container>
            <span
                class="p-panel-title"
                [ngStyle]="{ order: 3 }">
                {{ currentStep.form_control_raw.name }}
            </span>
        </div>
    </ng-template>

    <div class="grid">
        <div class="col-12">
            <div class="grid">
                <div class="col-4 flex flex-column gap-1 p-2">
                    <span class="text-color-secondary font-medium"> Cant. de impulsos máx. </span>
                    <span class="text-color font-semibold">
                        {{ currentStep.form_control_raw.maxAllowedPulses }}
                    </span>
                </div>

                <div class="col-4 flex flex-column gap-1 p-2">
                    <span class="text-color-secondary font-medium"> Tiempo de ejecución </span>
                    <span class="text-color font-semibold">
                        {{ currentStep.form_control_raw.durationSeconds }}&nbsp;[s]
                    </span>
                </div>

                <div class="col-4 flex flex-column gap-1 p-2">
                    <span class="text-color-secondary font-medium"> Constante del medidor </span>
                    <span class="text-color font-semibold">
                        {{
                            currentStep.form_control_raw.meterConstant === MeterConstantEnum.Active
                                ? 'Activa'
                                : 'Reactiva'
                        }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</p-panel>
