<app-page-title [title]="title"></app-page-title>
<p-toolbar styleClass="border-noround mb-2">
  <div class="p-toolbar-group-left">
    <form [formGroup]="filtersForm" class="grid">
      <div class="col col-6 flex flex-column">
        <label for="dateBefore">Fecha desde</label>
        <p-calendar formControlName="dateBefore" [showIcon]="true"></p-calendar>
      </div>
      <div class="col col-6 flex flex-column">
        <label for="dateAfter">Fecha hasta</label>
        <p-calendar formControlName="dateAfter" [showIcon]="true"></p-calendar>
      </div>
    </form>
  </div>
</p-toolbar>

<div class="grid grid-nogutter mb-8">
  <app-static-widget
    title="Modelos que más aprobaron - Top {{ top }}"
    class="col col-6 p-2"
  >
    <app-model-approved-widget
      [tags]="metricsDataMap.meterModelApproved"
      [top]="top"
    ></app-model-approved-widget>
  </app-static-widget>

  <app-static-widget
    title="Modelos que más desaprobaron - Top {{ top }}"
    class="col col-6 p-2"
  >
    <app-model-failed-widget
      [tags]="metricsDataMap.meterModelFailed"
      [top]="top"
    ></app-model-failed-widget>
  </app-static-widget>

  <app-static-widget title="Utilización de los puestos" class="col col-6 p-2">
    <app-stand-used-widget
      [tags]="metricsDataMap.standUsed"
    ></app-stand-used-widget>
  </app-static-widget>
</div>

<!-- descomentar para ver los colores disponibles para los widgets -->
<!-- 
  <div class="flex flex-row flex-wrap gap-2 w-full my-4">
    <div
      *ngFor="let color of colors; let index = index"
      style="display: flex; flex: 0 0 auto; width: 38px; height: 38px; background-color: {{
        color
      }};"
    >
      {{ index }}
    </div>
    <div></div>
  </div>
 -->
