<app-page-title [title]="title"></app-page-title>
<p-toolbar styleClass="border-noround mb-4">
  <div class="p-toolbar-group-left">
    <form [formGroup]="filtersForm" class="grid">
      <div class="col col-6 flex flex-column">
        <label for="dateBefore">Fecha desde</label>
        <p-calendar formControlName="dateBefore" [showIcon]="true"></p-calendar>
      </div>
      <div class="col col-6 flex flex-column">
        <label for="dateAfter">Fecha hasta</label>
        <p-calendar formControlName="dateAfter" [showIcon]="true"></p-calendar>
      </div>
    </form>
  </div>
</p-toolbar>

<div class="grid p-2">
  <app-static-widget title="Utilización de los puestos" class="col col-6">
    <app-stand-used-widget
      [tags]="metricsDataMap.standUsed"
    ></app-stand-used-widget>
  </app-static-widget>
</div>
