<ng-container [ngSwitch]="generatorType">
    <!-- Generador SemiautomaticPYC5050 -->
    <app-await-user-confirm
        *ngSwitchCase="GeneratorEnum.SemiautomaticPYC5050"
        headerText="Generador"
        confirmButtonText="Iniciar generador"
        confirmButtonIcon="pi-play"
        afterConfirmationChipIcon="pi-check"
        (userConfirm)="adjustmentDone.emit()">
    </app-await-user-confirm>

    <!-- Generador Manual (comportamiento original) -->
    <app-await-user-confirm
        *ngSwitchDefault
        headerText="Fotocélulas"
        confirmButtonText="Fotocélulas ajustadas"
        confirmButtonIcon="pi-wrench"
        afterConfirmationChipText="Ajuste realizado"
        afterConfirmationChipIcon="pi-check"
        (userConfirm)="adjustmentDone.emit()">
        <p
            messageTemplate
            class="m-0">
            Ajuste las fotocélulas para ensayo de energía
            <strong>{{ meterConstant | meterConstant }}</strong>
        </p>
    </app-await-user-confirm>
</ng-container>

<!-- Skip Button -->
<div class="flex justify-content-end mt-4 mb-8 gap-3">
    <p-button
        label="Omitir paso"
        [outlined]="true"
        severity="warning"
        size="small"
        styleClass="p-button-sm"
        (click)="skipStep()"></p-button>
</div>
