<app-page-title [title]="title" [headerIcon]="haderIcon"></app-page-title>
<ng-container *ngIf="brands$ | async as brands">
  <app-abm
    [dataset]="brands"
    [columns]="cols"
    [detailFormValid]="form.valid"
    [abmDetailTemplate]="abmDetailTemplate"
    (deleteEvent)="deleteBrands($event)"
    (openDetailEvent)="setFormValues($event)"
    (saveDetailEvent)="saveBrand()"
  >
    <ng-template #abmDetailTemplate>
      <form novalidate [formGroup]="form">
        <div class="formgrid grid">
          <input type="hidden" formControlName="id" />

          <div class="field col col-12">
            <label for="name" class="mb-2"
              >Marca<span class="ml-1 text-red-300">*</span></label
            >
            <input
              type="text"
              pInputText
              id="name"
              formControlName="name"
              autofocus
              required
            />
            <app-input-error formControlName="name"></app-input-error>
          </div>
        </div>
      </form>
    </ng-template>
  </app-abm>
</ng-container>
