<ng-container [formGroup]="formGroup">
    <div class="mb-3 flex justify-content-center gap-2 align-items-center title">
        <label class="text-lg"> Fase {{ faseLabel }} </label>
        <p-button
            *ngIf="showCopyButton"
            icon="pi pi-copy"
            [outlined]="true"
            (click)="copyClick.emit()"
            pTooltip="Copiar valores a otras fases"></p-button>
    </div>
    <div class="flex flex-column">
        <div
            *ngIf="voltageFormControlName"
            class="flex flex-column">
            <label
                for="{{ voltageFormControlName }}"
                class="mb-2"
                >Tensión de ensayo {{ voltageLabel }} [V]<span class="ml-1 text-red-300">*</span>
            </label>
            <p-inputNumber
                styleClass="flex flex-1"
                id="{{ voltageFormControlName }}"
                [formControlName]="voltageFormControlName"
                autofocus
                [useGrouping]="false"
                [min]="0"
                [minFractionDigits]="0"
                [maxFractionDigits]="1"></p-inputNumber>
            <app-input-error [formControlName]="voltageFormControlName"></app-input-error>
        </div>

        <div
            *ngIf="currentFormControlName"
            class="flex flex-column mt-3">
            <label
                for="{{ currentFormControlName }}"
                class="mb-2"
                >Corriente de ensayo {{ currentLabel }} [A]<span class="ml-1 text-red-300">*</span>
            </label>
            <p-inputNumber
                styleClass="flex flex-1"
                id="{{ currentFormControlName }}"
                [formControlName]="currentFormControlName"
                autofocus
                [useGrouping]="false"
                [min]="0"
                [minFractionDigits]="0"
                [maxFractionDigits]="3"></p-inputNumber>
            <app-input-error [formControlName]="currentFormControlName"></app-input-error>
        </div>

        <div
            *ngIf="powerFactorFormControlName"
            class="flex flex-column mt-3">
            <label
                for="{{ powerFactorFormControlName }}"
                class="mb-2"
                >{{ getPowerFactorLabel() }} {{ powerFactorLabel }}<span class="ml-1 text-red-300">*</span>
            </label>
            <div class="flex gap-2">
                <p-inputNumber
                    styleClass="flex flex-1"
                    id="{{ powerFactorFormControlName }}"
                    [formControlName]="powerFactorFormControlName"
                    autofocus
                    [useGrouping]="false"
                    [min]="-1"
                    [max]="1"
                    [minFractionDigits]="2"
                    [maxFractionDigits]="2"></p-inputNumber>
                <p-dropdown
                    styleClass="flex"
                    id="{{ powerFactorLetterFormControlName }}"
                    [formControlName]="powerFactorLetterFormControlName"
                    [options]="powerFactorLetterOptions"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="L/C"
                    appendTo="body"></p-dropdown>
            </div>
            <app-input-error [formControlName]="powerFactorFormControlName"></app-input-error>
            <app-input-error [formControlName]="powerFactorLetterFormControlName"></app-input-error>
        </div>
    </div>
</ng-container>
