<div
  class="content"
  [ngClass]="{
    current: isCurrent,
    done: isDone,
    pending: isPending,
    'head-border-top': !!bodyTemplate,
    'head-border-all': !bodyTemplate
  }"
>
  <div class="step-index">
    <ng-container *ngIf="!isDone; else doneTmp">
      <span class="step-index-text">{{ index }}</span>
    </ng-container>
    <ng-template #doneTmp>
      <i class="pi pi-check"></i>
    </ng-template>
  </div>

  <span class="step-name text-sm">{{ MajorStepsMap[majorStep] }}</span>
</div>

<ng-container *ngIf="bodyTemplate && isCurrent">
  <div class="body">
    <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
  </div>
</ng-container>
